<%= form_with(model: family_environment, url:choose_new_or_edit,local: true) do |form| %>
  <% if family_environment.errors.any? %>
    <div id="error_explanation">
      <p class="error"><%= family_environment.errors.count %>件のエラーがあります。</p>

      <ul>
        <% family_environment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="section">
    <div class="container">
      <div class="columns is-centered">
         <label for="formGroup1" class="form-label"><%= form.label :student_furigana, "relationship", class: "label" %></label>
         <input type="text_field" placeholder="例 弟" class="form-control w20" id="formGroup1" placeholder=<%= form.text_field :relationship %>
      <div class="column is-6">
         <label for="formGroupExampleInput2" class="form-label"><%= form.label :name, "name", class: "label" %></label>
         <input type="text_field" placeholder="例 山田 太郎" class="form-control w20" id="formGroup2" placeholder=<%= form.text_field :name %>

       <div class="column is-6">
         <label for="formGroupExampleInput2" class="form-label"><%= form.label :birthday, "birthday", class: "label" %></label>
         <div class="birthday_field">
         <%= raw sprintf(
                   form.date_select(
                     :birthday,
                     use_month_numbers: true,
                     start_year: 1930,
                     end_year: (Time.now.year - 5),
                     default: Date.new(1989, 1, 1),
                     date_separator: '%s'),
                   '年 ', '月 ') + '日' %>

      <div class="column is-6">
         <label for="formGroupExampleInput2" class="form-label"><%= form.label :age, "age", class: "label" %></label>
         <%= form.select(:age, options_for_select((16..90).to_a)) %>

      <div class="column is-6">
         <label for="formGroupExampleInput2" class="form-label"><%= form.label :family, "family", class: "label" %></label>
         <input type="text_field" placeholder="例 京都東小学校5年3組" class="form-control w20" id="formGroup3" placeholder=<%= form.text_field :family %>

  <div class="actions">
    <%= form.submit class: "button" ,class: "btn btn-outline-success"%>
  </div>
  <% end %>
