<h3>家庭環境調査</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>relationship</th>
      <th>name</th>
      <th>birthday</th>
      <th>age</th>
      <th>family</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_family_environments.each do |family_environment| %>
      <tr>
        <td><%= family_environment.relationship %></td>
        <td><%= family_environment.name %></td>
        <td><%= family_environment.birthday %></td>
        <td><%= family_environment.age %></td>
        <td><%= family_environment.family %></td>
        <td><%= link_to 'show', user_student_family_environment_path(family_environment.id, student_id: @student.id,user_id: @user.id), class: "btn btn-outline-success"%></td>
        <td><%= link_to 'edit', edit_user_student_family_environment_path(family_environment.id, student_id: @student.id,user_id: @user.id), class: "btn btn-outline-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_user_student_family_environment_path, class: "btn btn-outline-success" %>
