<h1>Family Environments</h1>

<table>
  <thead>
    <tr>
      <th>Relationship</th>
      <th>Name</th>
      <th>Birthday</th>
      <th>Age</th>
      <th>Family</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_family_environments.each do |family_environment| %>
      <tr>
        <td><%= family_environment.relationship %></td>
        <td><%= family_environment.name %></td>
        <td><%= family_environment.birthday %></td>
        <td><%= family_environment.age %></td>
        <td><%= family_environment.family %></td>
        <td><%= link_to 'Show', family_environment %></td>
        <td><%= link_to 'Edit', edit_family_environment_path(family_environment) %></td>
        <td><%= button_to 'Destroy', family_environment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Family Environment', new_family_environment_path %>
