<h3>家庭環境調査</h3>

<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">relationship</label>
  <input type="text" class="form-control w20" id="formGroupExampleInput" placeholder=<%=@family_environment.relationship %>>
</div>
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">name</label>
  <input type="text" class="form-control w20" id="formGroupExampleInput" placeholder=<%=@family_environment.name %>>
</div>
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">birthday</label>
  <input type="text" class="form-control w20" id="formGroupExampleInput" placeholder=<%=@family_environment.birthday %>>
</div>
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">age</label>
  <input type="text" class="form-control w20" id="formGroupExampleInput" placeholder=<%=@family_environment.age %>>
</div>
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">family</label>
  <input type="text" class="form-control w20" id="formGroupExampleInput" placeholder=<%=@family_environment.family %>>
</div>

<%= link_to 'edit', edit_user_student_family_environment_path(@family_environment.id, student_id: @student.id, user_id: @user.id) ,class: "btn btn-outline-success" %> |
<%= link_to 'マイページ', user_path(current_user) ,class: "btn btn-outline-success" %>
