<p id="notice"><%= notice %></p>

<p>
  <strong>Relationship:</strong>
  <%= @family_environment.relationship %>
</p>

<p>
  <strong>Name:</strong>
  <%= @family_environment.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @family_environment.birthday %>
</p>

<p>
  <strong>Age:</strong>
  <%= @family_environment.age %>
</p>

<p>
  <strong>Family:</strong>
  <%= @family_environment.family %>
</p>

<%= link_to 'Edit', edit_family_environment_path(@family_environment) %> |
<%= link_to 'Back', family_environments_path %>
