<%= form_with(model: [:contact, comment], url: user_contact_comments_path(comment, user_id: @user, contact_id: @contact)) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-floating">

    <textarea class="form-control" <%= form.text_area :content %></textarea>
  </div>

  <div class="actions">
    <%= form.submit class: "button" ,class: "btn btn-outline-success" %>
  </div>
<% end %>
