<%= form_with(model:[user, student], url:selection_new_or_edit, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <p class="error"><%= student.errors.count %>件のエラーがあります。</p>
      <ul>
        <% student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <label for="formGroup1" class="form-label"><%= form.label :student_furigana, "生徒名（ふりがな）", class: "label" %></label>
        <input type="text_field" placeholder="やまだ はなこ" class="form-control" id="formGroup1" placeholder=<%= form.text_field :student_furigana %>
      <div class="column is-6">
        <label for="formGroup2" class="form-label"><%= form.label :student_name, "生徒名（漢字）", class: "label" %></label>
        <input type="text_field" placeholder="山田 花子" class="form-control" id="formGroup2" placeholder=<%= form.text_field :student_name %>

      <!-- <div class="form-check form-check-inline">
        <label for="formGroupExampleInput2" class="form-label"> form.label :sex, "sex", class: "label" %></label>
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">男</label>
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">女</label>
      </div> -->

      <div class="column is-6">
        <label for="formGroup3" class="form-label"><%= form.label :sex, "性別", class: "label" %></label>
        <input type="text_field" placeholder="女"  class="form-control" id="formGroup3" placeholder=<%= form.text_field :sex %>

      <div class="column is-6">
        <label for="formGroup4" class="form-label"><%= form.label :birthday, "生年月日", class: "label" %></label>
      <div class="birthday_field">
      <%= raw sprintf(
                form.date_select(
                  :birthday,
                  use_month_numbers: true,
                  start_year: 1930,
                  end_year: (Time.now.year - 5),
                  default: Date.new(1989, 1, 1),
                  date_separator: '%s'),
                '年 ', '月 ') + '日' %>

      <div class="column is-6">
        <label for="formGroup5" class="form-label"><%= form.label :telephone, "（自宅）電話番号", class: "label" %></label>
        <input type="text_field" placeholder="075-000-0000" class="form-control" id="formGroup5" placeholder=<%= form.text_field :telephone %>

      <div class="column is-6">
        <label for="formGroup6" class="form-label"><%= form.label :cellphone, "（携帯）電話番号", class: "label" %></label>
        <input type="text_field" placeholder="090-000-0000" class="form-control" id="formGroup6" placeholder=<%= form.text_field :cellphone %>

      <div class="column is-6">
        <label for="formGroup7" class="form-label"><%= form.label :post_code, "郵便番号", class: "label" %></label>
        <input type="text_field" placeholder="000-0000" class="form-control" id="formGroup7" placeholder=<%= form.text_field :post_code %>

      <div class="column is-6">
        <label for="formGroup8" class="form-label"><%= form.label :address, "住所", class: "label" %></label>
        <input type="text_field" placeholder="京都府京都市中京区御所南1234" class="form-control" id="formGroup8" placeholder=<%= form.text_field :address %>

      <div class="column is-6">
        <label for="formGroup9" class="form-label"><%= form.label :parents_furigana, "保護者名（ふりがな）", class: "label" %></label>
        <input type="text_field" placeholder="やまだ たかし" class="form-control" id="formGroup9" placeholder=<%= form.text_field :parents_furigana %>

      <div class="column is-6">
        <label for="formGroup10" class="form-label"><%= form.label :parents_name, "保護者名（漢字）", class: "label" %></label>
        <input type="text_field" placeholder="山田 隆" class="form-control" id="formGroup10" placeholder=<%= form.text_field :parents_name %>

      <div class="column is-6">
        <label for="formGroup11" class="form-label"><%= form.label :relationship, "続柄", class: "label" %></label>
        <input type="text_field" placeholder="父" class="form-control" id="formGroup11" placeholder=<%= form.text_field :relationship %>

      <div class="actions">
        <%= form.submit class: "button" ,class: "btn btn-outline-success" %>
      </div>
<% end %>
