<h3>基本情報</h3>
<body>
  <table class="table">
    <thead>
        <tr>
          <th>student_name</th>
        </tr>
      </thead>
      <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.student_name %></td>
          <td><%= link_to 'show', student %></td>
          <td><%= link_to 'edit', edit_student_path(student) %></td>
        </tr>
      <% end %>
  </tbody>
</table>
<%= link_to 'マイページ', user_path(current_user) %>
<%= link_to '新規生徒登録', new_student_path %>
