<h1>Students</h1>
<head>
  <title>テーブルサンプル</title>
</head>

<body>
  <table class="table">
    <thead>
        <tr>
          <th>生徒名</th>
        </tr>
      </thead>
      <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.student_name %></td>
          <td><%= link_to '詳細', student %></td>
          <td><%= link_to '編集', edit_student_path(student) %></td>
        </tr>
      <% end %>
  </tbody>
</table>
<%= link_to 'マイページ', mypage_students_path %>
<%= link_to '新規生徒登録', new_student_path %>
