<h5>【　提出期限：６月３０日（木）　】</h5>
<h5>期日内提出のご協力の程お願い申し上げます。</h5>

<table class="table">
  <% @students.each do |student| %>
    <tr>
      <td><%= student.student_name %></td>
    </tr>
    <tr>
      <th>基本情報</th>
      <td><%= link_to '詳細', student %></td>
    </tr>
    <tr>
    <tr>
      <th>家庭環境調査</th>
      <% if student.family_environments.empty?%>
        <td><%= link_to '新規登録', new_student_family_environment_path(student.id) %></td>
      <% else %>
        <td><%= link_to '詳細', student_family_environments_path(student.id) %></td>
      <% end %>
    </tr>
    <tr>
      <th>緊急連絡先</th>
      <% if student.emergency_contacts.empty?%>
        <td><%= link_to '新規登録', new_student_emergency_contact_path(student.id)%></td>
      <% else %>
        <td><%= link_to '詳細', student_emergency_contacts_path(student.id) %></td>
      <% end %>
    </tr>
    <tr>
      <td>全ての入力完了後、下記をクリックして下さい。<%= link_to '登録内容を学校へ通知', report_student_path(student.id) %></td>
    </tr>
  <% end %>
</table>
<div>新規生徒の登録は下記よりお手続きください。</div>
<%= link_to '基本情報登録', new_student_path %>
