<%= form_with(model: @emergency_contact, url:choice_new_or_edit,local: true) do |form| %>
  <% if @emergency_contact.errors.any? %>
    <div id="error_explanation">
      <p class="error"><%= @emergency_contact.errors.count %>件のエラーがあります。</p>
      <ul>
        <% @emergency_contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <label for="formGroupExampleInput2" class="form-label"><%= form.label :name, "氏名", class: "label" %></label>
        <input type="text" placeholder="例 山田 花子" class="form-control" id="formGroup1" placeholder=<%= form.text_field :name %>
      <div class="column is-6">
        <label for="formGroupExampleInput2" class="form-label"><%= form.label :relationship, "続柄", class: "label" %></label>
        <input type="text_field" placeholder="例 祖母" class="form-control" id="formGroup2" placeholder=<%= form.text_field :relationship %>
      <div class="column is-6">
        <label for="formGroupExampleInput2" class="form-label"><%= form.label :contact_address, "連絡先", class: "label" %></label>
        <input type="text_field" placeholder="例 祖母宅、勤務先など" class="form-control" id="formGroup3" placeholder=<%= form.text_field :contact_address %>
      <div class="column is-6">
        <label for="formGroupExampleInput2" class="form-label"><%= form.label :telephone, "電話番号", class: "label" %></label>
        <input type="text_field" placeholder="例 090-0000-0000" class="form-control" id="formGroup4" placeholder=<%= form.text_field :telephone %>


  <div class="actions">
    <%= form.submit class: "btn btn-outline-success"%>
  </div>
<% end %>
