<h3>緊急連絡先</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>name</th>
      <th>relationship</th>
      <th>contact_address</th>
      <th>telephone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_emergency_contacts.each do |emergency_contact| %>
      <tr>
        <td><%= emergency_contact.name %></td>
        <td><%= emergency_contact.relationship %></td>
        <td><%= emergency_contact.contact_address %></td>
        <td><%= emergency_contact.telephone %></td>

        <td><%= link_to 'show', user_student_emergency_contact_path(emergency_contact.id, student_id: @student.id, user_id: @user.id), class: "btn btn-outline-success"%></td>
        <td><%= link_to 'edit', edit_user_student_emergency_contact_path(emergency_contact.id, student_id: @student.id, user_id: @user.id), class: "btn btn-outline-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_user_student_emergency_contact_path , class: "btn btn-outline-success"%>
