<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @emergency_contact.name %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @emergency_contact.relationship %>
</p>

<p>
  <strong>Contact address:</strong>
  <%= @emergency_contact.contact_address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @emergency_contact.telephone %>
</p>

<p>
  <strong>Student:</strong>
  <%= @emergency_contact.student_id %>
</p>

<%= link_to 'Edit', edit_emergency_contact_path(@emergency_contact) %> |
<%= link_to 'マイページ', mypage_students_path %>
