<h3>緊急連絡先</h3>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">name</label>
  <input type="text" class="form-control w20" id="formGroupExampleInput2" placeholder=<%= @emergency_contact.name %>>
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">relationship</label>
  <input type="text" class="form-control w20" id="formGroupExampleInput2" placeholder=<%= @emergency_contact.relationship %>>
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">contact_address</label>
  <input type="text" class="form-control w20" id="formGroupExampleInput2" placeholder=<%= @emergency_contact.contact_address %>>
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">telephone</label>
  <input type="text" class="form-control w20" id="formGroupExampleInput2" placeholder=<%= @emergency_contact.telephone %>>
</div>

<%= link_to 'edit', edit_user_student_emergency_contact_path(@emergency_contact.id, student_id:@student.id, user_id: @user.id) ,class: "btn btn-outline-success"%> |
<%= link_to 'マイページ', user_path(current_user) ,class: "btn btn-outline-success"%>
