<p>
  <strong>Name:</strong>
  <%= @emergency_contact.name %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @emergency_contact.relationship %>
</p>

<p>
  <strong>Contact address:</strong>
  <%= @emergency_contact.contact_address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @emergency_contact.telephone %>
</p>


<%= link_to 'Edit', edit_student_emergency_contact_path(@emergency_contact.student.id, @emergency_contact.id) %> |
<%= link_to 'マイページ', mypage_students_path %>
